<div class="center">
    <%- include('./styles'); %>
    <h1>Wellcome</h1>
    
    <div class="inputbox">
        <a href="/register"> <button> Register </button> </a>
    </div>
    
    <div class="inputbox">
        <a href="/login"> <button> Login </button> </a>
    </div>
</div>